/* Sign In page */
.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 20px auto;

  .form-control {
    margin-bottom: 5px;
  }

  .alert {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.form-signin-heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;

}

/* Top bar */
.navbar-top {
  border-bottom: 1px solid #ccc;
}

.navbar-text {
  font-size: 13px;

  .navbar-link {
    margin-left: 5px;
  }
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }

  > .active > a  {
    &, &:hover, &:focus {
      color: #fff;
      background-color: #428bca;
    }
  }
}

/* Main Content */


.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.alert-text > ul {
  display: inline-block;
}

/**
 * Tests page
 */
.test-list {
  h3 {
    text-align: center;
  }

  a {
    float: right;
  }

  .table {
    margin-top: 20px;
  }

  .table-hover > tbody > tr {
    cursor: pointer;
  }
}

#newTest {
  max-width: 800px;
  margin: auto;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  text-align: center;

  h4 {
    font-weight: bold;
  }

  .addTest {
    margin-left: 10px;
    border-left: 1px solid black;
    padding-left: 5px;
  }

  .form-group {
    margin: 15px auto;
    max-width: 600px;
  }

  input { 
    max-width: 400px;
  }
}
