extends logged-layout.jade

block main
  .alert.alert-danger.alert-dismissible.hide(name="change-password")
    .alert-text მოხდა შეცდომა
    button.close(type="button", class="close", data-dismiss="alert")
      span(aria-hidden="true") &times;
      span.sr-only Close

  form(name="change-password",role="form")
    .form-group
      label(for="oldPassword") მიმდინარე პაროლი
      input.form-control#oldPassword(type="password", name="oldPassword", placeholder="მიმდინარე პაროლი")
    .form-group
      label(for="newPassword") ახალი პაროლი
      input.form-control#newPassword(type="password", name="newPassword", placeholder="ახალი პაროლი")
    .form-group
      label(for="repeatNewPassword") გაიმეორეთ ახალი პაროლი
      input.form-control#repeatNewPassword(type="password", name="repeatNewPassword", placeholder="ახალი პაროლი")
    button.btn.btn-default პაროლის შეცვლა
