.navbar.navbar-top(role="navigation")
  .container-fluid
    .navbar-collapse.collapse.navbar-right
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle#dropdownParams(type="button", data-toggle="dropdown", href="#")
            | პარამეტრები
            span.caret
          ul.dropdown-menu(role="menu", aria-labelledby="dropdownParams")
            li(role="presentation")
              a(role="menuitem",tabindex="-1",href="/lecturer/password-change") პაროლის შეცვლა
        li
          a(href="/lecturer/logout") სისტემიდან გასვლა
    p.navbar-text.navbar-left
      | შემოსული ხართ როგორც <b>#{user.fullname}</b>
