.navbar.navbar-fixed-top(role="navigation")
  .container
    p.navbar-text.navbar-right
      | შემოსული ხართ როგორც <b>#{user.fullname}</b>,
      a.navbar-link(href="/lecturer/logout") სისტემიდან გასვლა

