.navbar.navbar-top(role="navigation")
  .container-fluid
    p.navbar-text.navbar-right
      | შემოსული ხართ როგორც <b>#{user.fullname}</b>,
      a.navbar-link(href="/lecturer/logout") სისტემიდან გასვლა

