.col-sm-3.col-md-2.sidebar
  ul.nav.nav-sidebar
    li.active
      a(href="/lecturer/") მთავარი
    li
      a(href="/lecturer/tests") ტესტები
    li
      a(href="/lecturer/user-create") დაამატეთ ლექტორი
