extends logged-layout.jade

block main
  .new-test.hide

  .test-list
    h3 თქვენი ტესტები
    table.table.table-striped
      thead
        tr
          th #
          th საგანი
          th კითხვების რაოდენობა
          th მაქსიმალური ქულა
          th დამატების თარიღი
      tbody
        tr
          td 1
          td მონაცემთა ბაზები
          td 20
          td 40
          td 03.07.2014

